/* scrollbars */

scrollbar {
    background-color: transparent;
    box-shadow: none;
}
scrollbar trough {
    margin: 1px;
}
scrollbar slider {
    padding: 0px;
    min-width: 3px;
}
scrollbar:hover slider {
    min-width: 8px;
}
scrollbar.hidden slider {
    opacity: 0;
}

/* headerbar */

headerbar.left {
    background-color: @headerbar_bg_1;
    border-bottom: 1px solid @header_border_bottom_1;
    box-shadow: none;
}
headerbar.left box {
    border: none;
    padding: 0px;
}
headerbar.left box.end {
    padding: 6px;
}
entry.search {
    outline: None;
    border-radius: 0px;
    background: None;
    padding: 0px;
    color: @sidebar_fg_1;
}
entry.search text {
    padding-left: 16px;
}

windowhandle.right {
    background-color: @headerbar_bg_2;
    border-bottom: 1px solid @header_border_bottom_2;
}
windowhandle.right headerbar {
    background-color: @headerbar_bg_2;
    border-bottom-width: 0px;
    box-shadow: none;
}
windowhandle.right headerbar box > box.start {
    margin-right: 2px;
}
windowhandle.right headerbar box > box.end {
    margin-left: 0px;
}
windowhandle.right > box {
    padding: 0px;
}
windowhandle.right > box > box.linked {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
}
overlay.history scrollbar {
    opacity: 0;
}

/* actionbar */

actionbar {
    border-top: 1px solid @bodypaned_border;
}
actionbar box {
    background: @window_bg_color;
    box-shadow: none;
}

/* link-overlay */

label.link-overlay {
    background: @window_bg_color;
    border-top: 1px solid @bodypaned_border;
    border-left: 1px solid @bodypaned_border;
    padding: 3px 6px;
    border-top-left-radius: 3px;
}

/* title-widget */

.document-title {
    background: none;
}
.document-title > box > box {
    margin-top: 49px;
    margin-right: 48px;
    margin-left: 48px;
    background: @window_bg_color;
}
.document-title entry {
    font-size: 24pt;
    font-weight: bold;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0px;
    border-bottom: 1px solid @border_1;
    padding: 0px;
    padding-bottom: 10px;
    color: @title_color;
}
.document-title entry.error {
    border-bottom: 1px solid @error_color;
}
.document-title button {
    padding: 3px 9px;
    margin-bottom: 25px;
}
.document-title > box > box > label {
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 1px;
}
.document-title > box > box > label:not(.error) {
    color: @description;
}

/* paneds */

paned.header separator.wide {
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    min-width: 3px;
    box-shadow: none;
    background-color: @headerpaned_border;
}
paned.content separator.wide {
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    min-width: 3px;
    box-shadow: none;
    background-color: @bodypaned_border;
}
paned.document-view separator.wide {
    padding: 0px;
    margin: 0px;
    border-right: 2px solid @window_bg_color;
    min-width: 1px;
    box-shadow: none;
    background-color: @bodypaned_border;
}

/* toolbar */

button.checked {
    background-color: @sidebar_selection;
}

/* tools sidebar */

box.tools-sidebar {
    padding-right: 2px;
}
box.tools-sidebar label.header {
    padding: 6px;
    padding-top: 12px;
    margin-left: 7px;
}
box.tools-sidebar flowbox {
    margin: 4px;
    margin-bottom: 18px;
}
box.tools-sidebar flowbox.mathcal {
    margin: 4px;
    margin-bottom: 6px;
}
box.tools-sidebar flowboxchild {
    padding: 0px;
    border-radius: 0px;
}
box.tools-sidebar button {
    padding: 6px;
}

/* popover */

@keyframes popover-animation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(3px);
    }
}
overlay.popover-bottom {
    animation-name: popover-animation;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    transform: translateY(3px);
}
@keyframes popover-animation-top {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(-43px);
    }
}
overlay.popover-top {
    animation-name: popover-animation-top;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    transform: translateY(-43px);
}
overlay.popover .content {
    background: @popover_bg_color;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid @borders;
    box-shadow: 0 1px 5px 1px mix(black, transparent, .91), 0 2px 14px 3px mix(black, transparent, .95);
}
overlay.popover .arrow {
    min-width: 20px;
    min-height: 16px;
}
overlay.popover-bottom .arrow {
    color: #000;
    background: -gtk-recolor(url('./icons/hicolor/scalable/actions/popover-arrow-down-symbolic.svg'), success @popover_bg_color, error @borders) left top no-repeat;
}
overlay.popover-top .arrow {
    color: #000;
    background: -gtk-recolor(url('./icons/hicolor/scalable/actions/popover-arrow-up-symbolic.svg'), success @popover_bg_color, error @borders) left top no-repeat;
}
overlay.popover-bottom .content {
    margin-top: 10px;
}
overlay.popover-top .content {
    margin-bottom: 10px;
}
overlay.popover button.action, overlay.popover button.menu, overlay.popover button.header {
    background: none;
    font-weight: normal;
}
overlay.popover button.action:hover, overlay.popover button.menu:hover, overlay.popover button.header:hover {
    background: @view_hover_color;
    transition: none;
}
overlay.popover button.action:active, overlay.popover button.menu:active, overlay.popover button.header:active {
    background: @borders;
}
overlay.popover button.header {
    font-weight: bold;
}
overlay.popover button.highlight:not(:disabled) {
    background: @view_hover_color;
}
overlay.popover button.highlight:active {
    background: @borders;
}
overlay.popover button label.shortcut {
    color: @menu_shortcut_color;
    margin-left: 18px;
}
overlay.popover button image.icon {
    padding-top: 2px;
    padding-right: 8px;
}
overlay.popover separator {
    margin: 6px 0px;
}
overlay.popover label.explaination {
    margin: 0px 10px;
    color: @description_color;
    font-size: 13px;
}
overlay.popover label.explaination-header {
    margin: 0px 10px;
    font-weight: bold;
}
button.popover.active {
    background: @headerbar_button_active_color;
}

/*
** context menus
*/

popover.context-menu contents {
    background: @popover_bg_color;
}
popover.context-menu button {
    background: none;
    font-weight: normal;
}
popover.context-menu button:hover {
    background: @view_hover_color;
}
popover.context-menu button:active, popover button:focus {
    background: @borders;
}
popover.context-menu button label.shortcut {
    color: @menu_shortcut_color;
    margin-left: 18px;
}
popover.context-menu button image.icon {
    padding-top: 2px;
    padding-right: 8px;
}
popover.context-menu separator {
    margin: 6px 0px;
}

/* welcome page */

box.welcome {
    background: -gtk-recolor(url('./icons/hicolor/scalable/actions/welcome-bg-symbolic.svg'), success @welcome_fg, error @welcome_bg) left top;
}
box.welcome > box {
    margin-top: 52px;
    margin-bottom: 152px;
}
box.welcome box.icon {
    background: -gtk-recolor(url('./icons/hicolor/scalable/actions/welcome-fg-symbolic.svg'), success @welcome_logo, error @welcome_logo_node) no-repeat left top;
    min-width: 240px;
    min-height: 240px;
    margin-bottom: 32px;
    border-radius: 120px;
}
box.welcome label.header {
    margin-bottom: 25px;
}
box.welcome label.explainer {
    margin-bottom: 42px;
}

/* insert link dialog */

window.insert-link-dialog entry {
    border: none;
    outline: none;
    border-radius: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* import markdown dialog */

window.import-markdown-files-dialog label.explainer {
    margin: 18px;
}
window.import-markdown-files-dialog stack {
    background: @view_bg_color;
    border-top: 1px solid @list_border;
    border-bottom: 1px solid @list_border;
}
window.import-markdown-files-dialog box.drop-message {
    padding: 16px;
}
window.import-markdown-files-dialog box.drop-message > box {
    border: 2px dashed @borders;
    border-radius: 6px;
    min-width: 484px;
    min-height: 216px;
}
window.import-markdown-files-dialog box.drop-message > box > box {
    min-height: 112px;
    margin-top: 18px;
}
@keyframes arrow-animation {
    0% { margin-top: 36px; }
    50% { margin-top: 48px; }
    100% { margin-top: 36px; }
}
window.import-markdown-files-dialog headerbar button {
    padding: 6px 12px;
}
window.import-markdown-files-dialog box.drop-message > box image {
    margin-top: 48px;
    padding: 0px;
    animation: arrow-animation 2s ease infinite;
}
window.import-markdown-files-dialog box.drop-message > box label {
    margin-top: 12px;
}
window.import-markdown-files-dialog list {
    background: none;
}
window.import-markdown-files-dialog list row {
    padding: 0px;
    border-bottom: 1px solid @list_row_border;
}
window.import-markdown-files-dialog list row:hover {
    background: @list_row_hover;
}
window.import-markdown-files-dialog list row label {
    padding-top: 1px;
    padding-left: 18px;
}
window.import-markdown-files-dialog list row button {
    padding: 7px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 1px;
}
window.import-markdown-files-dialog button.filechooser-button {
    margin: 0px;
    padding: 12px 18px;
    border-radius: 0px;
}
