/* general */

label link, button.link {
    color: @accent_color;
}

/* headerbar */

windowhandle.left {
    background-color: @headerbar_bg_1;
    border-bottom: 1px solid @header_border_bottom_1;
    box-shadow: none;
}
windowhandle.left button {
    margin: 6px;
    color: @sidebar_fg_3;
}
entry.search {
    outline: None;
    border-radius: 0px;
    background: @headerbar_bg_1;
    padding: 0px;
    color: @headerbar_fg_1;
}
entry.search text {
    padding-left: 16px;
}
entry.search image.right {
    padding: 10px;
    color: @headerbar_fg_1;
}

windowhandle.right {
    background-color: @headerbar_bg_2;
    border-bottom: 1px solid @header_border_bottom_2;
    padding-right: 6px;
}
windowhandle.right > box {
    padding: 0px;
}
windowhandle.right > box > box.buttonbox {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

windowhandle.right button.checked {
    background-color: @view_active_color;
}

/* link-overlay */

label.link-overlay {
    background: @view_bg_color;
    border-top: 1px solid @border_1;
    border-left: 1px solid @border_1;
    padding: 3px 6px;
    border-top-left-radius: 3px;
}

/* document view */

.document-view {
    background: @view_bg_color;
}
.document-view:drop(active) {
    border-width: 0px;
    box-shadow: none;
}

/* title-widget */

.document-title {
    background: none;
}
.document-title > box > box {
    margin-top: 48px;
    margin-right: 48px;
    margin-left: 48px;
    background: @view_bg_color;
}
.document-title entry {
    font-family: NewComputerModernSans10;
    font-size: 36px;
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0px;
    border-bottom: 1px solid @border_1;
    padding: 0px;
    color: @title_color;
}
.document-title entry.error {
    border-bottom: 1px solid @error_color;
}
.document-title button {
    padding: 3px 9px;
    margin-bottom: 25px;
}
.document-title button.submit {
    margin-right: 6px;
}
.document-title > box > box > label {
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 1px;
}
.document-title > box > box > label:not(.error) {
    color: @description_color;
}

/* paneds */

paned.header separator.wide {
    padding: 0px;
    margin: 0px;
    border-left: 1px solid @headerpaned_border_1;
    border-right: 1px solid @headerpaned_border_2;
    min-width: 1px;
    box-shadow: none;
    background-color: @headerpaned_bg;
}
paned.content separator.wide {
    padding: 0px;
    margin: 0px;
    border-left: 1px solid @bodypaned_border_1;
    border-right: 1px solid @bodypaned_border_2;
    min-width: 1px;
    box-shadow: none;
    background-color: @bodypaned_bg;
}
paned.document-view separator.wide {
    padding: 0px;
    margin: 0px;
    border-right: 2px solid @view_bg_color;
    border-left: 0px solid @view_bg_color;
    min-width: 1px;
    box-shadow: none;
    background-color: @border_1;
}
.navbar paned separator {
    background-color: @headerpaned_bg;
}

/* nav-toolbar */

.nav-toolbar {
    border-top: 1px solid @header_border_bottom_1;
    background: @headerbar_bg_1;
    padding: 0px;
}
.nav-toolbar button > box {
    background: None;
}
.nav-toolbar box {
    background: @headerbar_bg_1;
    color: @headerbar_fg_1;
    box-shadow: none;
}
.nav-toolbar button {
    color: @sidebar_fg_3;
}

/* backlinks */

.backlinks {
    background: @sidebar_bg_1;
}
.backlinks label.headline {
    color: @sidebar_fg_1;
    padding: 18px 0px 15px 15px;
    background: @sidebar_bg_1;
}
.backlinks label.info {
    color: @sidebar_fg_2;
    padding: 15px 15px 15px 15px;
    background: @sidebar_bg_1;
}
.backlinks list {
    color: @sidebar_fg_1;
    background: @sidebar_bg_1;
}
.backlinks list label.header {
    line-height: 23px;
    font-weight: bold;
}
.backlinks list label.teaser {
    font-family: NewComputerModern08;
    font-size: 13px;
    line-height: 23px;
}
.backlinks list row {
    padding: 12px 15px 12px 15px;
}

/* toolbar */

.toolbar {
    border-top: 1px solid @border_1;
    padding: 0px;
}
.toolbar button {
    color: @toolbar_fg;
}
.toolbar button.checked {
    background-color: @view_active_color;
}
.toolbar button > box {
    background: None;
}
.toolbar button > box > label {
    min-width: 86px;
    font-weight: normal;
}
.toolbar box {
    background: @view_bg_color;
    box-shadow: none;
}
.toolbar separator {
    margin: 0px 6px;
}
.toolbar label.status {
    margin: 0px 10px;
}
.toolbar scale highlight {
    background: none;
}
.toolbar scale slider {
    border-radius: 100px;
}

/* tools sidebar */

box.tools-sidebar {
    padding-right: 2px;
}
box.tools-sidebar label.header {
    padding: 6px;
    padding-top: 12px;
    margin-left: 7px;
    margin-top: 18px;
}
box.tools-sidebar label.header.first {
    margin-top: 2px;
}
box.tools-sidebar wrap-box {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
}
box.tools-sidebar wrap-box.emoji {
    margin-left: 5px;
    margin-right: 5px;
}
box.tools-sidebar wrap-box button {
    padding: 7px;
    padding-top: 9px;
    padding-bottom: 10px;
    min-height: 16px;
    min-width: 16px;
}
box.tools-sidebar {
    margin-bottom: 9px;
}
stack.tools-sidebar scrollbar slider {
    min-height: 48px;
}

/* popover */

@keyframes popover-animation {
    from {
        opacity: 0;
        transform: translateY(-11px);
    }
    to {
        opacity: 1;
        transform: translateY(2px);
    }
}
overlay.popover-bottom {
    animation-name: popover-animation;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    transform: translateY(2px);
}
@keyframes popover-animation-top {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(-5px);
    }
}
overlay.popover-top {
    animation-name: popover-animation-top;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    transform: translateY(-5px);
}
overlay.popover .content {
    background: @popover_bg_color;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid @borders;
    box-shadow: 0 1px 5px 1px @popover_shadow_1, 0 2px 14px 3px @popover_shadow_2;
}
overlay.popover .arrow {
    min-width: 20px;
    min-height: 18px;
}
overlay.popover-bottom .arrow {
    color: @popover_arrow_color;
    background: -gtk-recolor(url('./icons/hicolor/scalable/actions/popover-arrow-down-symbolic.svg'), success @popover_bg_color, error @borders) left top no-repeat;
}
overlay.popover-top .arrow {
    color: @popover_arrow_color;
    background: -gtk-recolor(url('./icons/hicolor/scalable/actions/popover-arrow-up-symbolic.svg'), success @popover_bg_color, error @borders) left top no-repeat;
}
overlay.popover-bottom .content {
    margin-top: 10px;
}
overlay.popover-top .content {
    margin-bottom: 8px;
}
overlay.popover button.action, overlay.popover button.menu, overlay.popover button.header {
    background: none;
    font-weight: normal;
}
overlay.popover button.action:hover, overlay.popover button.menu:hover, overlay.popover button.header:hover {
    background: @view_hover_color;
    transition: none;
}
overlay.popover button.action:active, overlay.popover button.menu:active, overlay.popover button.header:active {
    background: @borders;
}
overlay.popover button.header {
    font-weight: bold;
}
overlay.popover button.highlight:not(:disabled) {
    background: @view_hover_color;
}
overlay.popover button.highlight:active {
    background: @borders;
}
overlay.popover button label.shortcut {
    color: @menu_shortcut_color;
    margin-left: 18px;
}
overlay.popover button image.icon {
    padding-top: 1px;
    padding-right: 8px;
}
overlay.popover separator {
    margin: 6px 0px;
}
overlay.popover label.explaination {
    margin: 0px 10px;
    color: @description_color;
    font-size: 13px;
}
overlay.popover label.explaination-header {
    margin: 0px 10px;
    font-weight: bold;
}
button.active {
    background: @view_active_color;
}
button.active.sidebar {
    background: @sidebar_selection;
}
button.sidebar:hover {
    background: @sidebar_hover;
}
button.sidebar:active {
    background: @sidebar_selection;
}

/* context menus */

popover.context-menu contents {
    background: @popover_bg_color;
}
popover.context-menu button {
    background: none;
    font-weight: normal;
}
popover.context-menu button:hover {
    background: @view_hover_color;
}
popover.context-menu button:active, popover button:focus {
    background: @borders;
}
popover.context-menu button label.shortcut {
    color: @menu_shortcut_color;
    margin-left: 18px;
}
popover.context-menu button image.icon {
    padding-top: 2px;
    padding-right: 8px;
}
popover.context-menu separator {
    margin: 6px 0px;
}

/* welcome page */

box.welcome {
    background: -gtk-recolor(url('./icons/hicolor/scalable/actions/welcome-bg-symbolic.svg'), success @welcome_fg, error @welcome_bg) left top;
}
box.welcome > box {
    margin-top: 120px;
    margin-bottom: 152px;
}
box.welcome box.icon {
    background: url('./icons/hicolor/scalable/actions/welcome-fg-symbolic.svg') no-repeat left top;
    min-width: 128px;
    min-height: 128px;
    margin-bottom: 32px;
}
box.welcome label.header {
    margin-bottom: 25px;
}
box.welcome label.explainer {
    margin-bottom: 42px;
}

/* action dialog */

window.action-dialog {
    background: @dialog_bg_color;
}
window.action-dialog headerbar {
    background: @dialog_bg_color;
    border-bottom: 1px solid @dialog_border;
    box-shadow: none;
    color: @dialog_fg_color;
}
window.action-dialog actionbar {
    box-shadow: none;
    border-top: 1px solid @dialog_list_border;
}
window.action-dialog actionbar button.cancel {
    color: @dialog_fg_color;
}
window.action-dialog actionbar box {
    background: @dialog_bg_color;
    border: none;
    box-shadow: none;
}
window.action-dialog label.title {
    font-size: 22px;
    font-weight: bold;
    padding-left: 11px;
    padding-top: 11px;
    padding-bottom: 10px;
}
window.action-dialog label.header {
    margin-left: 18px;
    margin-top: 18px;
    margin-bottom: 6px;
}
window.action-dialog label.explainer {
    margin-left: 18px;
    margin-bottom: 6px;
}
window.action-dialog .filechooser {
    margin-left: 18px;
}
window.action-dialog checkbutton.radio-group {
    margin-left: 14px;
}
window.action-dialog checkbutton.radio-group label {
    margin-left: 6px;
}

/* settings dialog */

window.settings notebook {
    border: none;
    background: @dialog_bg_color;
}
window.settings notebook stack {
    background: @dialog_bg_color;
}
window.settings notebook header {
    padding-left: 0px;
}
window.settings notebook tabs {
    background: @dialog_bg_color;
    border-bottom: 1px solid @borders;
    padding-top: 6px;
    padding-left: 0px;
}
window.settings notebook tab {
    min-height: 45px;
    margin: 0px;
    padding-left: 18px;
    padding-right: 18px;
}
window.settings headerbar {
    background: @dialog_bg_color;
    color: @dialog_fg_color;
    border-bottom: none;
    box-shadow: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
window.settings headerbar box.start {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
window.settings headerbar label {
    font-size: 22px;
    font-weight: bold;
    padding-left: 11px;
    padding-top: 11px;
    padding-bottom: 0px;
}
window.settings flowbox {
    background: @dialog_bg_color;
    padding: 9px 8px;
}
window.settings flowboxchild {
    padding: 9px 8px;
}
window.settings flowboxchild button.color-preview-wrapper {
    border: 1px solid @borders;
    border-radius: 4px;
    margin-bottom: 3px;
    padding: 2px;
    background: none;
}
window.settings flowboxchild box.selected button.color-preview-wrapper {
    border: 1px solid @accent_color;
}
window.settings flowboxchild checkbutton {
    margin-left: -1px;
}
window.settings checkbutton.single {
    margin-left: 14px;
    margin-right: 14px;
}
window.settings checkbutton.single check {
    margin-right: 6px;
}
window.settings .settings-page-toolbars checkbutton {
    margin-bottom: 2px;
}
window.settings .settings-page-toolbars checkbutton image {
    margin-right: 9px;
}
window.settings .settings-page-toolbars separator {
    margin-top: 13px;
    margin-bottom: 14px;
    margin-left: 16px;
    min-width: 72px;
    background: @borders;
}
label.settings-header {
    font-weight: bold;
    margin-left: 17px;
}
label.settings-text-data-display {
    margin-left: 17px;
}
.settings-margin-box {
    margin-left: 17px;
    margin-right: 17px;
}
.settings-colorcode {
    min-width: 18px;
    min-height: 18px;
    margin-right: 18px;
    border-radius: 2px;
}
.storage-scale {
    min-height: 36px;
    margin-left: 17px;
    margin-right: 17px;
    border-radius: 2px;
}
.settings-color-lemma {
    background: @storage_color_lemma;
}
.settings-color-system {
    background: @storage_color_system;
}
.settings-color-freespace {
    background: @storage_color_free;
}

/* shortcuts dialog */

window.shortcuts label.keycap {
    color: @keycap_fg;
    background: @keycap_bg;
}

/* insert link dialog */

overlay.insert-link-popover .content {
    background: @link_ac_bg;
    padding: 0px;
}
overlay.insert-link-popover entry {
    border: none;
    outline: none;
    border-radius: 0px;
    background: none;
    padding: 0px;
}
overlay.insert-link-popover entry text {
    padding: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}
overlay.insert-link-popover button {
    border-radius: 0px;
    border-top-right-radius: 5px;
    padding: 0px 9px;
}
overlay.insert-link-popover scrolledwindow {
    border-top: 1px solid @link_entry_border;
}
overlay.insert-link-popover list {
    padding-top: 0px;
    padding-bottom: 0px;
    background: none;
}
overlay.insert-link-popover row {
    padding: 8px 12px 8px 12px;
}
overlay.insert-link-popover row:selected, overlay.insert-link-popover row:hover {
    background: @view_hover_color;
}
overlay.insert-link-popover row:active {
    background: @borders;
}
overlay.insert-link-popover scrollbar slider {
    min-height: 18px;
}

/* insert link dialog */

scrolledwindow.autocomplete {
    background: @link_ac_bg;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid @borders;
    box-shadow: 0 1px 5px 1px @popover_shadow_1, 0 2px 14px 3px @popover_shadow_2;
}
scrolledwindow.autocomplete list {
    padding-top: 0px;
    padding-bottom: 0px;
    background: none;
}
scrolledwindow.autocomplete row {
    padding: 8px 12px 8px 12px;
}
scrolledwindow.autocomplete row:selected, scrolledwindow.autocomplete row:hover {
    background: @view_hover_color;
}
scrolledwindow.autocomplete row:active {
    background: @borders;
}
scrolledwindow.autocomplete scrollbar slider {
    min-height: 18px;
}

/* import markdown dialog */

window.import-markdown-files-dialog label.explainer {
    margin: 18px;
    margin-top: 17px;
    margin-bottom: 11px;
    line-height: 21px;
}
window.import-markdown-files-dialog stack {
    background: @list_bg;
    margin: 0px 10px;
    border: 1px solid @dialog_list_border;
    border-radius: 6px;
    background: @dialog_list_bg;
}
window.import-markdown-files-dialog box.drop-message {
    padding: 2px;
}
window.import-markdown-files-dialog box.drop-message > box {
    border: 4px dashed @dialog_list_border;
    border-radius: 6px;
    min-width: 484px;
    min-height: 230px;
}
window.import-markdown-files-dialog box.drop-message > box > box {
    min-height: 112px;
    margin-top: 18px;
}
@keyframes arrow-animation {
    0% { margin-top: 36px; }
    50% { margin-top: 48px; }
    100% { margin-top: 36px; }
}
window.import-markdown-files-dialog box.drop-message > box image {
    margin-top: 48px;
    padding: 0px;
    animation: arrow-animation 2s ease infinite;
}
window.import-markdown-files-dialog box.drop-message > box label {
    margin-top: 12px;
}
window.import-markdown-files-dialog list {
    background: none;
    padding-top: 3px;
}
window.import-markdown-files-dialog list row {
    padding: 0px;
}
window.import-markdown-files-dialog list row label {
    padding-top: 1px;
    padding-left: 8px;
}
window.import-markdown-files-dialog list row button {
    padding: 2px;
    margin-right: 3px;
    border-radius: 100px;
}
window.import-markdown-files-dialog box.button-box {
    margin: 0px 18px 18px 18px;
}
window.import-markdown-files-dialog button.add-file-button {
    font-weight: bold;
}

/* buld export dialog */

window.export-bulk-dialog scrolledwindow {
    border: 1px solid @dialog_list_border;
    border-bottom: 1px dotted @dialog_border;
    margin: 0px 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: @dialog_list_bg;
}
window.export-bulk-dialog list {
    padding: 4px 0px;
    background: none;
}
window.export-bulk-dialog list row {
    padding: 0px;
    background: none;
}
window.export-bulk-dialog list row checkbutton {
    padding: 4px 9px 4px 7px;
}
window.export-bulk-dialog list row checkbutton label {
    margin-left: 6px;
}
window.export-bulk-dialog checkbutton.select-all {
    padding: 8px 9px 8px 7px;
    margin: 0px 10px;
    margin-bottom: 18px;
    border-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid @dialog_list_border;
    border-top: none;
    background: @dialog_list_bg;
}
window.export-bulk-dialog checkbutton.select-all label {
    margin-left: 6px;
}

/* widgets */

label.explainer-top {
    padding: 18px;
    background: @shade_color;
    border-bottom: 1px solid @dialog_list_border;
}
label.explainer-bottom {
    padding: 18px;
    background: @shade_color;
    border-top: 1px solid @dialog_list_border;
}
.filechooser button.link {
    padding: 0px;
    font-weight: bold;
}

/* pinning buttons */

label.icon-chooser-header {
    font-weight: bold;
    padding: 10px;
}


