/* The main accent color and the matching text value */
@define-color accent_bg_color #3584e4;
@define-color accent_fg_color white;
@define-color accent_color #1c71d8;

/* destructive-action buttons */
@define-color destructive_bg_color #e01b24;
@define-color destructive_fg_color white;
@define-color destructive_color #c01c28;

/* Levelbars, entries, labels and infobars. These don't need text colors */
@define-color success_bg_color #2ec27e;
@define-color success_fg_color white;
@define-color success_color #1b8553;

@define-color warning_bg_color #e5a50a;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color warning_color #9c6e03;

@define-color error_bg_color #e01b24;
@define-color error_fg_color white;
@define-color error_color #c01c28;

/* Window */
@define-color window_bg_color #f9f9f9;
@define-color window_fg_color rgba(0, 0, 0, 0.8);

/* Views - e.g. text view or tree view */
@define-color view_bg_color #f9f9f9;
@define-color view_fg_color #000000;

/* Dialogs */
@define-color dialog_bg_color #fafafa;
@define-color dialog_fg_color rgba(0, 0, 0, 0.8);
@define-color dialog_border #ddd;
@define-color dialog_list_bg #fff;
@define-color dialog_list_border #ddd;
@define-color dialog_sidebar_bg_color #ddd;

/* Settings Dialog */

@define-color storage_color_lemma #28af08;
@define-color storage_color_system #f2e57b;
@define-color storage_color_free #ccc;

/* Shortcuts Dialog */

@define-color keycap_fg rgba(0, 0, 0, 0.8);
@define-color keycap_bg #ddd;

/* Popovers */
@define-color popover_bg_color #fafafa;
@define-color popover_fg_color rgba(0, 0, 0, 0.8);
@define-color popover_arrow_color #000000;
@define-color popover_shade_color rgba(0, 0, 0, 0.07);
@define-color popover_shadow_1 mix(black, transparent, .91);
@define-color popover_shadow_2 mix(black, transparent, .95);
@define-color popover_borders #ccc;
@define-color popover_hover_bg #00000011;
@define-color popover_active_bg #00000022;
@define-color menu_shortcut_color #888888;

/* Thumbnails */
@define-color thumbnail_bg_color #ffffff;
@define-color thumbnail_fg_color rgba(0, 0, 0, 0.8);

/* Headerbar */
@define-color headerbar_bg_1 #3e804b;
@define-color headerbar_bg_2 #f9f9f9;
@define-color headerbar_fg_1 #fff;
@define-color headerbar_fg_2 rgba(0, 0, 0, 0.8);
@define-color header_border_bottom_1 #2f6139;
@define-color header_border_bottom_2 #00000033;
@define-color history_hover #00000011;

/* Toolbar */
@define-color toolbar_fg #000000ff;
@define-color toolbar_border #00000030;
@define-color toolbar_bg @view_bg_color;
@define-color toolbar_selected_bg rgba(0, 0, 0, 0.16);
@define-color toolbar_active_bg rgba(0, 0, 0, 0.16);

/* Sidebar */
@define-color sidebar_bg_1 #3e804b;
@define-color sidebar_fg_1 #fffd;
@define-color sidebar_fg_2 #fff7;
@define-color sidebar_fg_3 #fffc;
@define-color sidebar_fg_4 #929292;
@define-color sidebar_active_fg #fffc;
@define-color sidebar_active_bg #002b36;
@define-color sidebar_hover #00000011;
@define-color sidebar_selection #00000022;
@define-color sidebar_toolbar_button_hover #3e3e3e;
@define-color sidebar_toolbar_button_active #434343;

/* Paneds */
@define-color headerpaned_border_1 #666;
@define-color headerpaned_border_2 #666;
@define-color headerpaned_bg #666;
@define-color bodypaned_border_1 #666;
@define-color bodypaned_border_2 #666;
@define-color bodypaned_bg #666;
@define-color navbar_separator #666;

/* Borders */
@define-color borders #ccc;
@define-color border_1 #00000030;

/* Document View */
@define-color title_color green;
@define-color text #222f;
@define-color links #37e;
@define-color links_page_not_existing #d33;
@define-color selection_bg #7cb8fc66;
@define-color cursor #000000ff;
@define-color highlight_bg #ffff00;
@define-color drop_color @text;
@define-color bullets @text;

/* Checkboxes */
@define-color checkbox_unchecked_outline @borders;
@define-color checkbox_unchecked_inner @view_bg_color;
@define-color checkbox_checked_outline #5aa90d;
@define-color checkbox_checked_inner @view_bg_color;

/* Scrollbars */
@define-color scrollbar_bg #e5e5e5;
@define-color scrollbar_default #c0c0c0;
@define-color scrollbar_hover #9b9b9b;
@define-color scrollbar_active #777777;
@define-color scrollbar_thin #d1d1d1;

@define-color sidebar_scrollbar_bg #444;
@define-color sidebar_scrollbar_default #666;
@define-color sidebar_scrollbar_hover #999;
@define-color sidebar_scrollbar_active #bbb;
@define-color sidebar_scrollbar_thin #555;

/* Welcome Page */
@define-color welcome_fg #ddd;
@define-color welcome_bg @window_bg_color;
@define-color welcome_logo #444;
@define-color welcome_logo_node #d2b9d8;

/* Link Dialog */
@define-color link_ac_bg #e4dfc5;
@define-color link_ac_border #898361;
@define-color link_entry_bg #fff;
@define-color link_entry_border #ddd;

/* Widgets */
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color description_color #666;
@define-color list_bg #fff;
@define-color list_row_border #eee;
@define-color list_row_hover #f9f9f9;
@define-color scrollbar_outline_color white;


