/* The main accent color and the matching text value */
@define-color accent_bg_color #3584e4;
@define-color accent_fg_color white;
@define-color accent_color #1c71d8;

/* destructive-action buttons */
@define-color destructive_bg_color #e01b24;
@define-color destructive_fg_color white;
@define-color destructive_color #c01c28;

/* Levelbars, entries, labels and infobars. These don't need text colors */
@define-color success_bg_color #2ec27e;
@define-color success_fg_color white;
@define-color success_color #1b8553;

@define-color warning_bg_color #e5a50a;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color warning_color #9c6e03;

@define-color error_bg_color #e01b24;
@define-color error_fg_color white;
@define-color error_color #c01c28;

/* Window */
@define-color window_bg_color #f9f9f9;
@define-color window_fg_color rgba(0, 0, 0, 0.8);

/* Views - e.g. text view or tree view */
@define-color view_bg_color #f9f9f9;
@define-color view_fg_color #000000;
@define-color view_hover_color rgba(0, 0, 0, 0.07);
@define-color view_active_color rgba(0, 0, 0, 0.16);

/* Dialogs */
@define-color dialog_bg_color #fafafa;
@define-color dialog_fg_color rgba(0, 0, 0, 0.8);
@define-color dialog_border #ddd;
@define-color dialog_list_bg #fff;

/* Popovers */
@define-color popover_bg_color @dialog_bg_color;
@define-color popover_fg_color rgba(0, 0, 0, 0.8);
@define-color popover_shade_color rgba(0, 0, 0, 0.07);
@define-color menu_shortcut_color #888888;

/* Thumbnails */
@define-color thumbnail_bg_color #ffffff;
@define-color thumbnail_fg_color rgba(0, 0, 0, 0.8);

/* Headerbar */
@define-color headerbar_bg_1 #333;
@define-color headerbar_bg_2 #f9f9f9;
@define-color header_border_bottom_1 #000;
@define-color header_border_bottom_2 #00000033;

/* Sidebar */
@define-color sidebar_bg_1 #333;
@define-color sidebar_fg_1 #fffd;
@define-color sidebar_fg_2 #fff7;
@define-color sidebar_fg_3 #fffc;
@define-color sidebar_active_fg #fffc;
@define-color sidebar_active_bg #000;
@define-color sidebar_hover #00000033;
@define-color sidebar_selection #00000066;

/* Paneds */
@define-color headerpaned_border_1 #666;
@define-color headerpaned_border_2 #666;
@define-color headerpaned_bg #666;
@define-color bodypaned_border_1 #666;
@define-color bodypaned_border_2 #666;
@define-color bodypaned_bg #666;

/* Borders */
@define-color borders #ccc;
@define-color border_1 #00000030;

/* History */
@define-color history_fg #000000ff;
@define-color history_hover #00000011;
@define-color history_active_bg #00000022;

/* Document View */
@define-color title_color #222f;
@define-color text #222f;
@define-color math @text;
@define-color links #37e;
@define-color links_page_not_existing #d33;
@define-color selection_fg #fff;
@define-color selection_bg #c6defa;
@define-color selection_bg #c6defa;
@define-color cursor #000000ff;

/* Welcome Page */
@define-color welcome_fg #ddd;
@define-color welcome_bg @window_bg_color;
@define-color welcome_logo #444;
@define-color welcome_logo_node #d2b9d8;

/* Link Dialog */
@define-color link_ac_bg #e4dfc5;
@define-color link_ac_border #898361;
@define-color link_entry_bg #fff;
@define-color link_entry_border #ddd;

/* Widgets */
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color description_color #666;
@define-color list_bg #fff;
@define-color list_row_border #eee;
@define-color list_row_hover #f9f9f9;
@define-color scrollbar_outline_color white;


