/* The main accent color and the matching text value */
@define-color accent_bg_color #3584e4;
@define-color accent_fg_color white;
@define-color accent_color #1c71d8;

/* destructive-action buttons */
@define-color destructive_bg_color #e01b24;
@define-color destructive_fg_color white;
@define-color destructive_color #c01c28;

/* Levelbars, entries, labels and infobars. These don't need text colors */
@define-color success_bg_color #2ec27e;
@define-color success_fg_color white;
@define-color success_color #1b8553;

@define-color warning_bg_color #e5a50a;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color warning_color #9c6e03;

@define-color error_bg_color #e01b24;
@define-color error_fg_color white;
@define-color error_color #c01c28;

/* Window */
@define-color window_bg_color #333;
@define-color window_fg_color #eee;

/* Views - e.g. text view or tree view */
@define-color view_bg_color #222;
@define-color view_fg_color #eee;
@define-color view_hover_color rgba(0, 0, 0, 0.07);
@define-color view_active_color rgba(0, 0, 0, 0.16);

/* Dialogs */
@define-color dialog_bg_color #333;
@define-color dialog_fg_color #eee;
@define-color dialog_border #666;
@define-color dialog_list_bg #222;
@define-color dialog_list_border #666;
@define-color dialog_sidebar_bg_color #333;

/* Settings Dialog */

@define-color storage_color_lemma #28af08;
@define-color storage_color_system #f2e57b;
@define-color storage_color_free #ccc;

/* Shortcuts Dialog */

@define-color keycap_fg rgba(0, 0, 0, 0.9);
@define-color keycap_bg #ddd;

/* Popovers */
@define-color popover_bg_color #333;
@define-color popover_fg_color #eee;
@define-color popover_arrow_color #000000;
@define-color popover_shade_color rgba(0, 0, 0, 0.07);
@define-color popover_shadow_1 mix(black, transparent, .91);
@define-color popover_shadow_2 mix(black, transparent, .95);
@define-color popover_hover_bg #3a3a3a;
@define-color popover_active_bg #414141;
@define-color menu_shortcut_color #888888;

/* Thumbnails */
@define-color thumbnail_bg_color #ffffff;
@define-color thumbnail_fg_color rgba(0, 0, 0, 0.8);

/* Headerbar */
@define-color headerbar_bg_1 #333;
@define-color headerbar_fg_1 #fff;
@define-color headerbar_bg_2 #333;
@define-color headerbar_fg_2 #eee;
@define-color header_border_bottom_1 #666;
@define-color header_border_bottom_2 #666;
@define-color history_hover #3a3a3a;
@define-color history_active_bg #414141;

/* Toolbar */
@define-color toolbar_fg #eee;
@define-color toolbar_border #666;
@define-color toolbar_bg #333;

/* Sidebar */
@define-color sidebar_bg_1 #333;
@define-color sidebar_fg_1 #fffd;
@define-color sidebar_fg_2 #fff7;
@define-color sidebar_fg_3 #fffc;
@define-color sidebar_fg_4 #929292;
@define-color sidebar_active_fg #fffc;
@define-color sidebar_active_bg #222;
@define-color sidebar_hover #3a3a3a;
@define-color sidebar_selection #414141;

/* Paneds */
@define-color headerpaned_border_1 #666;
@define-color headerpaned_border_2 #666;
@define-color headerpaned_bg #666;
@define-color bodypaned_border_1 #666;
@define-color bodypaned_border_2 #666;
@define-color bodypaned_bg #666;

/* Borders */
@define-color borders #ccc;
@define-color border_1 #666;

/* Document View */
@define-color title_color #f9f9f9;
@define-color text #f9f9f9;
@define-color links #37e;
@define-color links_page_not_existing #d33;
@define-color selection_fg @text;
@define-color selection_bg #7cb8fc66;
@define-color cursor #fff;
@define-color highlight_bg #1f641f;
@define-color drop_color @text;
@define-color bullets @text;

/* Checkboxes */
@define-color checkbox_unchecked_outline #bbb;
@define-color checkbox_unchecked_inner @view_bg_color;
@define-color checkbox_checked_outline #bbb;
@define-color checkbox_checked_inner @view_bg_color;

/* Scrollbars */
@define-color scrollbar_bg #e5e5e5;
@define-color scrollbar_default #c0c0c0;
@define-color scrollbar_hover #9b9b9b;
@define-color scrollbar_active #777777;
@define-color scrollbar_thin #d1d1d1;

@define-color sidebar_scrollbar_bg #444;
@define-color sidebar_scrollbar_default #666;
@define-color sidebar_scrollbar_hover #999;
@define-color sidebar_scrollbar_active #bbb;
@define-color sidebar_scrollbar_thin #555;

/* Welcome Page */
@define-color welcome_fg #333;
@define-color welcome_bg #222;
@define-color welcome_logo #444;
@define-color welcome_logo_node #d2b9d8;

/* Link Dialog */
@define-color link_ac_bg @view_bg_color;
@define-color link_ac_border #898361;
@define-color link_entry_bg #fff;
@define-color link_entry_border #ddd;

/* Widgets */
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color description_color #666;
@define-color list_bg #fff;
@define-color list_row_border #eee;
@define-color list_row_hover #f9f9f9;
@define-color scrollbar_outline_color white;


